@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

nav {
    margin: 0 auto;
    width: fit-content;
}

@media (max-width: 600px) {
    .col {
        display: contents;
        width: 100%;
        margin: 0 auto;
    }

    .main {
        display: flex;
        justify-content: center;
    }
}